body{
    margin: 0px;
}

h1{
    margin-top: 0px;
    color: #5C8D89 ;
    padding-left:  50%;
}

p{
    color: #5C8D89;
    padding-left: 50%;
}

div{
    background-color: #D3F6D1;
}

.middleDiv{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;         
    left: 200px;
}

.container{
    background-color: red;
    height: 500px;
    width: 500px;
    position: relative;
}

.bottomDiv{
    background-color: cyan;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 200px;
    right: 200px;
}

.spanElement{
    color: black
}