body{
    margin: 0px;
    text-align: center;
}

h1{
    margin-top: 0px;
    padding-top: 100px;
    color: #5C8D89 ;
}

p{
    color: #5C8D89;
}

div{
    background-color: #D3F6D1;
    position: relative;
    padding-top: 100px;
}

.middle-container{

}


.bottom-container{

}

.spanElement{
    color: black
}

.topCloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottomCloud{
    position: absolute;
    left: 300px;
    bottom : 300px
}